<header>
  <mat-toolbar>
    <div class="custom-container header-toolbar__inner">
      <div class="flex items-center gap-2">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <a
            class="menu-link"
            mat-menu-item
            routerLink="/home"
            routerLinkActive="active"
          >
            <mat-icon>home</mat-icon>
            <span>Home</span>
          </a>
          <a
            class="menu-link"
            mat-menu-item
            routerLink="/search"
            routerLinkActive="active"
          >
            <mat-icon>search</mat-icon>
            <span>Search</span>
          </a>
          <a
            class="menu-link"
            mat-menu-item
            routerLink="/popular-videos"
            routerLinkActive="active"
          >
            <mat-icon>star</mat-icon>
            <span>Popular videos</span></a
          >
          <a
            class="menu-link"
            mat-menu-item
            routerLink="/collections"
            routerLinkActive="active"
          >
            <mat-icon>category</mat-icon>
            <span>Collections</span>
          </a>
        </mat-menu>
        <span>Signals Pexels App by Drake21</span>
        <img class="w-10" src="/assets/header-logo.png" alt="logo" />
      </div>
      <div class="flex gap-4 items-center">
        <button mat-icon-button>
          <mat-icon>favorite</mat-icon>
        </button>
        <div class="flex items-center">
          <mat-slide-toggle
            (toggleChange)="handleToggleTheme()"
            [checked]="themeSig() === 'light'"
          ></mat-slide-toggle>
          <button mat-icon-button>
            @if (themeSig() === 'dark') {
            <mat-icon>dark_mode</mat-icon>} @else {
            <mat-icon>light_mode</mat-icon>
            }
          </button>
        </div>
      </div>
    </div>
  </mat-toolbar>
</header>
