<div class="loading flex justify-center relative">
  <div class="loading-wrapper">
    @if (type === 'page') {
    <img
      class="loading-image"
      src="/assets/gifs/loading.gif"
      alt="loading gif"
    />
    <div class="loader loader-custom loader-custom-page"></div>
    } @else if (type === 'search') {
    <img
      class="loading-image"
      src="/assets/gifs/search-loading.gif"
      alt="search loading gif"
    />
    <div class="loader loader-custom loader-custom-search"></div>
    } @else if (type === 'popular-videos') {
    <img
      class="loading-image"
      src="/assets/gifs/loading-popular-videos.gif"
      alt="loading popular videos gif"
    />
    <div class="loader loader-custom"></div>
    }@else if (type === 'collections') {
    <img
      class="loading-image"
      src="/assets/gifs/loading-collections.gif"
      alt="loading collections gif"
    />
    <div class="loader loader-custom"></div>
    }@else if (type === 'single-collection') {
    <img
      class="loading-image"
      src="/assets/gifs/loading-single-collection.gif"
      alt="loading single collection gif"
    />
    <div class="loader loader-custom"></div>
    }
  </div>
</div>
