<mat-card class="photo-miniature" appearance="outlined">
  <mat-card-header>
    <a [href]="photo().photographer_url" target="_blank">
      <mat-card-title>{{ photo().photographer }} on Pexels</mat-card-title>
    </a>
  </mat-card-header>
  <a class="photo-miniature__img-wrapper cursor-pointer" (click)="openModal()">
    <img mat-card-image [src]="photo().src.medium" [alt]="photo().alt"
  /></a>
  <mat-card-actions class="justify-between">
    <a [href]="photo().url" target="_blank" mat-button>See on Pexels</a>
    <button mat-button [disabled]="!isLikeableSig()">
      <mat-icon fontIcon="thumb_up"></mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
