@if (!photosLoading && !videosLoading) {
<div class="list-section">
  @if (!photosErrorSig()) {
  <app-photos-list [photos]="photosSig()"></app-photos-list>
  <ui-primary-link path="/search-photos" text="Search photos" />} @else {
  <app-error-template errorType="photos"></app-error-template>
  }
</div>
<div class="list-section">
  @if (!videosErrorSig()) {
  <app-videos-list [videos]="videosSig()"></app-videos-list>
  <ui-primary-link path="/search-videos" text="Search videos" />} @else {
  <app-error-template errorType="videos"></app-error-template>
  }
</div>
} @else {
<div class="loading-wrapper" [ngClass]="{ hidden: !photosLoading }">
  <app-loading></app-loading>
</div>
}
