<div class="py-5">
  @if (!errorSig() && photosTransformedSig()?.photos?.length) {
  <div>
    <p>
      <span class="font-bold">Total photos: </span
      >{{ photosTransformedSig()?.total_results }}
    </p>
  </div>
  <div class="photos-list">
    @for (photo of photosTransformedSig()?.photos; track photo.id) {
    <div class="photo-list__item">
      <app-photo-miniature [photo]="photo"></app-photo-miniature>
    </div>
    }
  </div>
  <mat-paginator
    [length]="photosTransformedSig()?.total_results"
    [pageIndex]="currentPageSig()"
    [pageSize]="pageSizeSig()"
    [pageSizeOptions]="[15, 25]"
    (page)="onPaginatorChange($event)"
  >
  </mat-paginator>
  }@else if(!errorSig() && photosTransformedSig()?.total_results === 0) {
  <app-no-results text="Nothing is here!" />
  } @else if(errorSig()) {
  {{ errorSig() }}
  <div class="flex justify-center py-10">
    <app-error-template errorType="photos"></app-error-template>
  </div>
  }
</div>
