.photo-modal {
  max-height: calc(100vh - 90px);
  height: 100%;

  &__image-wrapper {
    max-width: 500px;
    img {
      max-height: 800px;
      object-fit: cover;
    }
  }
}
.mat-mdc-dialog-content {
  max-height: calc(100vh - 90px);
}
