<div class="photo-modal w-full h-auto text-center sm:text-start">
  <h2 mat-dialog-title>Photo №{{ data.item.id }}</h2>
  <mat-dialog-content class="mat-typography">
    <div class="flex gap-5 flex-col lg:flex-row">
      <div class="photo-modal__image-wrapper h-full">
        <img [src]="data.item.src.original" alt="" />
      </div>
      <div>
        <h2>{{ data.item.alt }}</h2>
        <h3>Photographer: {{ data.item.photographer }}</h3>
        <div>
          <a
            class="block text-center py-2.5 px-5 me-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
            [href]="data.item.photographer_url"
            target="_blank"
            >Photographer on Pexels</a
          >
          <a
            class="block text-center text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
            [href]="data.item.url"
            target="_blank"
            >Work on Pexels</a
          >
        </div>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Close</button>
  </mat-dialog-actions>
</div>
