@if (video()) {
<mat-card class="video-miniature px-4" appearance="outlined">
  <mat-card-header>
    <a [href]="video().user.url" target="_blank">
      <mat-card-title>{{ video().user.name }} on Pexels</mat-card-title>
    </a>
  </mat-card-header>
  <video controls class="video-minianure__film">
    <source [src]="getAppropriateVideo(video())?.link" type="video/mp4" />
  </video>
  <mat-card-actions class="justify-between">
    <div>
      <a [href]="video().url" target="_blank" mat-button>See on Pexels</a>
      <button mat-button (click)="openModal()">See more</button>
    </div>
    <button mat-button [disabled]="!isLikeableSig()">
      <mat-icon fontIcon="thumb_up"></mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
}
