@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("./theme.scss");

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.custom-container {
  max-width: 1520px;
  padding: 0 10px;
  margin: 0 auto;
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.content {
  flex: 1;
  padding: 25px 0;
}

.dark .footer {
  background-color: #212121 !important;
  color: #fff;
}

.dark .photo-list__item {
  box-shadow: 5px 4px 4px 0 #212121 !important;
}

.dark .primary-btn {
  background-color: #fff !important;
  color: #000 !important;
}

.list-section {
  padding-bottom: 30px;
}

.photos-list {
  column-count: 5;
  column-gap: 1em;
  margin: 1em 0;
  padding: 0;
  column-gap: 1em;
  font-size: 0.85em;
}

.photo-list__item {
  display: inline-block;
  margin: 0 0 1em;
  width: 100%;
  transition: 1s ease all;
  box-sizing: border-box;
  box-shadow: 2px 2px 4px 0 #ccc;
}

@media only screen and (max-width: 320px) {
  .photos-list {
    column-count: 2;
  }
}

@media only screen and (min-width: 321px) and (max-width: 768px) {
  .photos-list {
    column-count: 3;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1200px) {
  .photos-list {
    column-count: 4;
  }
}

.loader {
  --s: 28px;
  height: var(--s);
  aspect-ratio: 2.5;
  --_g: #000 90%, #0000;
  --_g0: no-repeat radial-gradient(farthest-side, var(--_g));
  --_g1: no-repeat radial-gradient(farthest-side at top, var(--_g));
  --_g2: no-repeat radial-gradient(farthest-side at bottom, var(--_g));
  background: var(--_g0), var(--_g1), var(--_g2), var(--_g0), var(--_g1),
    var(--_g2);
  background-size: 20% 50%, 20% 25%, 20% 25%;
  animation: l45 1s infinite;
}
@keyframes l45 {
  0% {
    background-position: calc(0 * 100% / 3) 50%,
      calc(1 * 100% / 3) calc(50% + calc(var(--s) / 8)),
      calc(1 * 100% / 3) calc(50% - calc(var(--s) / 8)), calc(3 * 100% / 3) 50%,
      calc(2 * 100% / 3) calc(50% + calc(var(--s) / 8)),
      calc(2 * 100% / 3) calc(50% - calc(var(--s) / 8));
  }
  33% {
    background-position: calc(0 * 100% / 3) 50%, calc(1 * 100% / 3) 100%,
      calc(1 * 100% / 3) 0, calc(3 * 100% / 3) 50%, calc(2 * 100% / 3) 100%,
      calc(2 * 100% / 3) 0;
  }
  66% {
    background-position: calc(1 * 100% / 3) 50%, calc(0 * 100% / 3) 100%,
      calc(0 * 100% / 3) 0, calc(2 * 100% / 3) 50%, calc(3 * 100% / 3) 100%,
      calc(3 * 100% / 3) 0;
  }
  90%,
  100% {
    background-position: calc(1 * 100% / 3) 50%,
      calc(0 * 100% / 3) calc(50% + calc(var(--s) / 8)),
      calc(0 * 100% / 3) calc(50% - calc(var(--s) / 8)), calc(2 * 100% / 3) 50%,
      calc(3 * 100% / 3) calc(50% + calc(var(--s) / 8)),
      calc(3 * 100% / 3) calc(50% - calc(var(--s) / 8));
  }
}

.search-part {
  min-height: 600px;
  padding: 20px 0;
}
