<div class="search-part">
  @if (!loading()) { @if (!errorSig() &&
  videosWithTotalResultsSig()?.videos?.length) {
  <div>
    <p>
      <span class="font-bold">Total videos: </span
      >{{ videosWithTotalResultsSig()?.total_results }}
    </p>
  </div>
  <div class="grid grid-cols-2 gap-4 my-4">
    @for (video of videosWithTotalResultsSig()?.videos; track video.id) {
    <app-video-miniature [video]="video"></app-video-miniature>
    }
  </div>
  <mat-paginator
    [length]="videosWithTotalResultsSig()?.total_results"
    [pageIndex]="currentPageSig()"
    [pageSize]="pageSizeSig()"
    [pageSizeOptions]="[6, 10]"
    (page)="onPaginatorChange($event)"
  >
  </mat-paginator>
  }@else if(!errorSig() &&videosWithTotalResultsSig()?.total_results === 0) {
  <app-no-results text="Nothing is here! Use another expression..." />
  } @else if(errorSig()) {
  <div class="flex justify-center py-10">
    <app-error-template errorType="videos"></app-error-template>
  </div>
  } @else {
  <app-start-searching
    imgSrc="/assets/images/search-img-2.png"
  ></app-start-searching>
  }} @else {
  <div class="flex justify-center py-10">
    <app-loading-template type="search"></app-loading-template>
  </div>
  }
</div>
